<div style="max-width: 600px;margin: 0 auto;padding-bottom: 25px;">
  <div style="text-align:center;background:#fff;padding:12px 0 20px">
    <img class="js lazyautosizes lazyloaded" src="//cdn.shopify.com/s/files/1/0077/1745/3881/files/Goodfair_Wordmark_Grass_RGB_300x300.png?v=1585014567" data-sizes="auto" alt="Goodfair" style="max-width: 180px">
    <%= image_tag "goodfair_logo.png", style: 'width: 100%;' %>
  </div>
  <%= image_tag "reward_email.png", style: 'width: 100%;' %>
  <div style="text-align: center; color: #3B7091; font-family: AvantGarde, sans-serif;">
    <p style="font-size: 18px;max-width:80%; margin: 25px auto 0;">Your friends took the #nonewthings pledge thanks to you!</p> 
    <p style="font-size: 18px;max-width:80%; margin: 25px auto;">So, here's a $10 off coupon to jumpstart your secondhand living lifestyle!</p>
    <div style="text-align: center;">
      <h6 style="text-transform: uppercase; background:#EEF1E8;display: inline-block;padding: 20px;font-size:20px">Use Code: <%= @discount_code %></h6>
    </div>
    <a href="https://goodfair.com/collections/frontpage" style="display: inline-block;letter-spacing: 1px;font-size: 20px;font-family: 'Frankfurter Medium Std', sans-serif;text-decoration: none;text-transform: uppercase;background: #3B7091;color: #fff;padding: 10px 20px">Shop Preloved</a>
  </div>
</div>